@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl-500.woff'),
    url('../fonts/MuseoSansCyrl-500.woff2');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl-500Italic.woff'),
    url('../fonts/MuseoSansCyrl-500Italic.woff2');
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl-300.woff'),
    url('../fonts/MuseoSansCyrl-300.woff2');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl-300Italic.woff'),
    url('../fonts/MuseoSansCyrl-300Italic.woff2');
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl-700.woff'),
    url('../fonts/MuseoSansCyrl-700.woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl-700Italic.woff'),
    url('../fonts/MuseoSansCyrl-700Italic.woff2');
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}