.catalog {
    min-height: 1200px;
    padding-bottom: 80px;
    text-align: center;
    span {
        cursor: pointer;
    }
    &__top {
        position: relative;
        overflow: hidden;
    }
    &__title {
        margin-bottom: 46px;
    }
    &__choose {
        margin-bottom: 57px;
    }
    &__button {
        width: 222px;
        height: 52px;
        margin-right: 5px;
        box-shadow: none;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        text-transform: uppercase;
        color: #6b6b6b;
        background: #fff;
        border: 2px solid #d0d0d0;
        transform: skew(-30deg);
        border-radius: 0;
        span {
            display: inline-block;
            transform: skew(30deg);
        }
    }
    &__button-active {
        background: #c70101;
        color: #ffffff;
        border: none;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
    }
    &__item {
        background: #ffffff;
        border: 2px solid #e8e8e8;
        margin-right: 17px;
        margin-top: 19px;
        padding: 20px 18px;
        max-width: 303px;
        transition: transform 0.5s;
    }
    &__item:hover {
        transform: translate(5%, -2%);
    }
    &__icon {
        margin-bottom: 15px;
        img {
            width: 140px;
            height: 200px;
        }
    }
    &__sub-icon {
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #0d0d0d;
    }
    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #0d0d0d;
        margin-bottom: 10px;
    }
    &__span {
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        text-decoration: underline;
        color: #c70101;
        text-transform: uppercase;
    }
    &__span-back {
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        text-decoration: underline;
        color: #c70101;
        text-transform: uppercase;
    }
    &__bottom {
        margin-top: 34px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    &__bottom::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        top: -50%;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 1px solid #e8e8e8;
    }
    &__prev-price {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        text-decoration: line-through;
        color: #555555;
        text-align: left;
    }
    &__now-price {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        color: #050505;
    }
    &__button-item {
        padding: 12px 25px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        box-shadow: none;
    }
    &__details {
        text-align: left;
        position: absolute;
        background: #fff;
        z-index: 1;
        padding: 16px 15px 0 15px;
        height: 100%;
        width: 100%;
        right: -105%;
        transition: all 0.5s;
        span {
            margin: 0 auto;
            margin-top: auto;
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        p {
            margin-bottom: 3px;
        }
        p::before {
            content: "";
            position: absolute;
            background: #c70101;
            width: 12px;
            height: 8px;
            left: -2%;
            z-index: 1;
            transform: translateY(50%);
        }
    }
    &__show-details {
        right: 0;
    }
    &__item:nth-child(1) {
        margin-top: 0;
    }
    &__item:nth-child(2) {
        margin-top: 0;
    }
    &__item:nth-child(3) {
        margin-right: 0;
        margin-top: 0;
    }
    &__item:nth-child(6) {
        margin-right: 0;
    }
}
@media (max-width: 985px) {
    .catalog {
        &__content {
            justify-content: center;
        }
        &__item:nth-child(3) {
            margin-right: 15px;
        }
        &__item:nth-child(6) {
            margin-right: 17px;
        }
    }
}
@media (max-width: 678px) {
    .catalog {
        &__item:nth-child(1) {
            margin-top: 15px;
        }
        &__item:nth-child(2) {
            margin-top: 15px;
        }
        &__item:nth-child(3) {
            margin-right: 0;
            margin-top: 15px;
        }
        &__button:nth-child(3) {
            margin-top: 10px;
        }
    }
}
@media (max-width: 661px) {
    .catalog {
        &__content {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-right: 0;
            margin-left: 0;
        }
        &__item:nth-child(6) {
            margin-right: 0;
        }
        &__title {
            margin-bottom: 20px;
        }
        &__button:nth-child(2) {
            margin-top: 10px;
        }
        &__choose {
            margin-bottom: 20px;
        }
    }
}
