.consultation {
    min-height: 680px;
    padding: 100px 0 108px 0;
    background: url("../../img/bg2.jpg") center center/cover no-repeat;
    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 54px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 8px;
    }
    &__sub-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
        margin-bottom: 36px;
    }
    &__input {
        display: block;
        width: 303px;
        height: 54px;
        margin-bottom: 11px;
        padding: 21px;
        border-radius: 5px;
        border: none;
    }
    &__button {
        width: 303px;
        height: 58px;
        margin-top: 17px;
    }
}
@media (max-width: 421px) {
    .consultation {
        &__title {
            font-size: 26px;
            line-height: 34px;
        }
        &__sub-title {
            font-size: 16px;
            line-height: 20px;
        }
        &__input {
            width: 203px;
            height: 54px;
            margin-bottom: 11px;
            padding: 21px;
            border-radius: 5px;
            border: none;
        }
        &__button {
            width: 203px;
            height: 58px;
            margin-top: 17px;
        }
    }
}
