.footer {
    min-height: 630px;
    position: relative;
    &__info {
        position: absolute;
        background: #c70101;
        padding: 50px 53px 56px 53px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    &__adress {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #ffffff;
    }
    &__telephone {
        margin: 36px 0;
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
    }
    &__icons {
        img:nth-child(2) {
            margin: 0 27px;
        }
    }
}

@media (max-width: 660px) {
    .footer {
        &__info {
            padding: 20px 23px 26px 23px;
        }
        &__icons {
            text-align: center;
        }
    }
}
@media (max-width: 550px) {
    .footer {
        &__info {
            padding: 10px 5px 16px 5px;
        }
        &__icons {
            text-align: center;
            img {
                width: 36px;
            }
            img:nth-child(2) {
                margin: 0 17px;
            }
        }
    }
}
@media (max-width: 378px) {
    .footer {
        &__adress {
            font-weight: 500;
            font-size: 14px;
            line-height: 15px;
        }
        &__telephone {
            margin: 16px 0;
            font-size: 15px;
        }
        &__icons {
            img {
                width: 26px;
            }
        }
    }
}
