.reviews {
    padding-bottom: 48px;
    min-height: 968px;
    background: #fff;
    text-align: center;
    &__item {
        display: flex;
        align-items: center;
        margin-top: 60px;
        p {
            margin-top: 10px;
        }
        image {
            width: 169px;
            height: 169px;
        }
    }
    &__image {
        margin-right: 61px;
    }
    &__info {
        text-align: left;
    }
    &__name {
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        color: #0d0d0d;
    }
    &__sub-name {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #646464;
    }
    &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #0d0d0d;
    }
}
@media (max-width: 420px) {
    .reviews {
        &__item {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__info {
            text-align: center;
        }
        &__image {
            margin-right: 0;
            margin-bottom: 5px;
        }
    }
}